<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aguas Tranquilas</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
    <style>
        body {
            background: rgb(2, 0, 36);
            background: linear-gradient(500deg, rgb(30, 185, 154) 22%, rgb(222, 10, 165) 100%);
            background-attachment: fixed;
        }
        .nav-add-button {
            color: rgb(0, 120, 226);
            transition: 100ms;
        }
        .nav-add-button:hover{
            border:solid;
        }
        .table-responsive {
            max-height:300px;
        }

    </style>
</head>

<body>
    <div class="container text-center">
        <div class="row pt-5">
        </div>
        <div class="row align-items-center">
            <div class="col">
            </div>
            <div class="col-md-10 bg-white rounded">
                <div class="container-fluid">
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <button class="nav-link active" id="inicio-tab" data-bs-toggle="tab" data-bs-target="#inicio"
                                type="button" role="tab" aria-controls="inicio" aria-selected="true">inicio
                                </button>
                        </li>
                        {% for tab_name, presion in values %}    
                        <li class="nav-item" role="presentation">
                            <button class="nav-link position-relative" id="{{ tab_name }}-tab" data-bs-toggle="tab" data-bs-target="#{{ tab_name }}"
                                type="button" role="tab" aria-controls="{{ tab_name }}" aria-selected="true">{{ tab_name }}
                                {% if presion %}
                                    {% set text_warning = classify_presion(presion.flow_start) %}
                                    {% if presion.is_leaking %}
                                    <span class="position-absolute top-0 start-50 translate-middle badge bg-danger">
                                        !
                                    </span>
                                    {% elif text_warning == "Sin presión" or text_warning == "Presión baja" %}
                                    <span class="position-absolute top-0 start-50 translate-middle badge bg-warning text-dark">
                                        ?
                                    </span>
                                    {% endif %}
                                {% endif %}
                                </button>
                        </li>
                        {% endfor %}
                        <li class="nav-item" role="presentation">
                            <button class="nav-link nav-add-button" data-bs-toggle="modal" data-bs-target="#exampleModal"
                                type="button" role="tab" aria-controls="contact" aria-selected="false">
                                <strong>+</strong>
                            </button>
                        </li>
                    </ul>
                    <!--Contenido de pestañas-->
                    <div class="tab-content" id="myTabContent">
                        <div class="pt-5"></div>
                        <div class="tab-pane fade show active" id="inicio" role="tabpanel" aria-labelledby="inicio-tab">
                            {% if inicio_tabla[0] %}
                            <div class="row">
                                {% for tabla in inicio_tabla %}
                                <div class="col-6 table-responsive">
                                    <table class="table table-dark table-striped-columns table-sm">
                                        <thead>
                                            <h2>Tuberia "{{tabla[0][0]}}"</h2>
                                          <tr>
                                            <th scope="col">Nombre</th>
                                            <th scope="col">Fecha de captura</th>
                                            <th scope="col">Presión</th>
                                          </tr>
                                        </thead>
                                        <tbody>
                                        
                                            {% for item in tabla %}
                                            <tr>
                                                <td>{{ item[0] }}</td>
                                                <td>{{ item[1] }}</td>
                                                <td>{{ item[2] }}</td>
                                             </tr>
                                            {% endfor %}
                                       
                                        </tbody>
                                      </table>
                                </div>
                                {% endfor %}
                            </div>      
                            {% else %}
                                Presiona la pestaña de + para agregar tuberias
                            {% endif %}
                        </div>
                        {% for tab_name, presion in values %} 
                        <div class="tab-pane fade" id="{{ tab_name }}" role="tabpanel" aria-labelledby="{{ tab_name }}-tab">
                            {% if presion %}
                            <div class="row">
                                <div class="col">
                                    <p>
                                        <h3><span class="badge text-bg-primary">Presión de entrada</span></h3>
                                        <br>
                                        {{ classify_presion(presion.flow_start) }} ({{ presion.flow_start|round }})
                                    </p>
                                </div>
                                {% if presion.flow_end != None %}
                                    <div class="col">
                                    <p>
                                            <h3><span class="badge text-bg-secondary">Presión de salida</span></h3>
                                            <br>
                                            {{ classify_presion(presion.flow_end) }} ({{ presion.flow_end | round }})
                                           </p>
                                    </div>
                                        <p>
                                        
                                            {% if presion.is_leaking %}
                                                <span class="badge text-bg-warning">Posible fuga detectada</span>

                                            {% endif %}
                                            <br>
                                        </p>
                                {% endif %}
                            {% else %}
                                <p>No hay información, ¿Esta bien configuradas las tuberias?</p>
                            {% endif %}
                        </div>
                        </div>
                        {% endfor %}
                        <div class="pt-5"></div>
                    </div>

                </div>
            </div>
            <div class="col">
            </div>
        </div>
    </div>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Agregar sensor</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form action="/add_sensor" method="post">
      <div class="modal-body">
          <div class="mb-3">
            <label for="set-name" class="col-form-label">Nombre de la tuberia</label>
            <input type="text" class="form-control" id="set-name" name="set-name">
          </div>
          <div class="mb-3">
            <label for="gpio_pin_start d-none" class="col-form-label">Pin del medidor de entrada de la tuberia</label>
            <select class="form-control" id="gpio_pin_start" name="gpio_pin_start">
                <option selected>Selecciona un pin</option>
                <option value="2">Pin 3 (GPIO 2)</option>
                <option value="3">Pin 5 (GPIO 3)</option>
                <option value="4">Pin 7 (GPIO 4)</option>
                <option value="14">Pin 8 (GPIO 14)</option>
                <option value="15">Pin 10 (GPIO 15)</option>
                <option value="17">Pin 11 (GPIO 17)</option>
                <option value="18">Pin 12 (GPIO 18)</option>
                <option value="27">Pin 13 (GPIO 27)</option>
                <option value="22">Pin 15 (GPIO 22)</option>
                <option value="23">Pin 16 (GPIO 23)</option>
                <option value="24">Pin 18 (GPIO 24)</option>
                <option value="10">Pin 19 (GPIO 10)</option>
                <option value="9">Pin 21 (GPIO 9)</option>
                <option value="25">Pin 22 (GPIO 25)</option>
                <option value="11">Pin 23 (GPIO 11)</option>
                <option value="8">Pin 24 (GPIO 8)</option>
                <option value="7">Pin 26 (GPIO 7)</option>
                <option value="5">Pin 29 (GPIO 5)</option>
                <option value="6">Pin 31 (GPIO 6)</option>
                <option value="12">Pin 32 (GPIO 12)</option>
                <option value="13">Pin 33 (GPIO 13)</option>
                <option value="19">Pin 35 (GPIO 19)</option>
                <option value="16">Pin 36 (GPIO 16)</option>
                <option value="20">Pin 38 (GPIO 20)</option>                
                <option value="26">Pin 37 (GPIO 26)</option>
                <option value="21">Pin 40 (GPIO 21)</option>
            </select>
            <div class="mb-3 pt-3">
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" role="switch" id="has_second_sensor" name="has_second_sensor">
                    <label class="form-check-label" for="has_second_sensor">Usar medidor de salida de la tuberia</label>
                  </div>                  
                <select class="form-control d-none" id="gpio_pin_end" name="gpio_pin_end">
                    <option selected>Selecciona un pin para el medidor de salida</option>
                    <option value="2">Pin 3 (GPIO 2)</option>
                    <option value="3">Pin 5 (GPIO 3)</option>
                    <option value="4">Pin 7 (GPIO 4)</option>
                    <option value="14">Pin 8 (GPIO 14)</option>
                    <option value="15">Pin 10 (GPIO 15)</option>
                    <option value="17">Pin 11 (GPIO 17)</option>
                    <option value="18">Pin 12 (GPIO 18)</option>
                    <option value="27">Pin 13 (GPIO 27)</option>
                    <option value="22">Pin 15 (GPIO 22)</option>
                    <option value="23">Pin 16 (GPIO 23)</option>
                    <option value="24">Pin 18 (GPIO 24)</option>
                    <option value="10">Pin 19 (GPIO 10)</option>
                    <option value="9">Pin 21 (GPIO 9)</option>
                    <option value="25">Pin 22 (GPIO 25)</option>
                    <option value="11">Pin 23 (GPIO 11)</option>
                    <option value="8">Pin 24 (GPIO 8)</option>
                    <option value="7">Pin 26 (GPIO 7)</option>
                    <option value="5">Pin 29 (GPIO 5)</option>
                    <option value="6">Pin 31 (GPIO 6)</option>
                    <option value="12">Pin 32 (GPIO 12)</option>
                    <option value="13">Pin 33 (GPIO 13)</option>
                    <option value="19">Pin 35 (GPIO 19)</option>
                    <option value="16">Pin 36 (GPIO 16)</option>
                    <option value="20">Pin 38 (GPIO 20)</option>                
                    <option value="26">Pin 37 (GPIO 26)</option>
                    <option value="21">Pin 40 (GPIO 21)</option>
                </select>
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        <button type="submit" class="btn btn-primary">Agregar tuberia</button>
      </div>
    </div>
</form>
  </div>
</div>
</body>
<script>
    const second_sensor_checkbox = document.getElementById('has_second_sensor');
    const selection = document.getElementById('gpio_pin_end');

    second_sensor_checkbox.addEventListener('change', function(){
        if (second_sensor_checkbox.checked) {
            selection.classList.remove('d-none');
        }
        else{
            selection.classList.add('d-none');
        }
    })

</script>
</html>